@import "tailwindcss";

:root {
  --color-primary: #0174f5;
  --color-black: #111111;
  --color-white: #ffffff;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  width: 100%;
  min-height: 100%;
}

body {
  font-family: var(--font-pretendard), sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
